{% extends "base.html" %}
{% block title %} Регистрация пользователя {% endblock %}

{% block navigation %}
	{% include "inc-navigation.html" %}
{% endblock %}

{% block body %}

      <div class="container">
        <form class="row g-3 needs-validation" style="margin-top: 150px" novalidate
            action="" method="post">
          <div class="col-md-4">
            <label for="name" class="form-label">Имя</label>
            <input type="text" class="form-control" name="name" id="name" value="Иван" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="lastname" class="form-label">Фамилия</label>
            <input type="text" class="form-control" name="lastname" id="lastname" value="Иванов" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="mail" class="form-label">Почта</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" name="mail" id="mail" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="city" class="form-label">Город</label>
            <input type="text" class="form-control" name="city" id="city" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label">Адрес</label>
            <input type="text" class="form-control" name="address" id="address" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>

          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Согласны с обработкой персональных данных
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
          </div>
</form>
      </div>
      </div>
{% endblock %}