{% extends "base.html" %}
{% block title %} Школа изучения иностранных языков {% endblock %}

{% block navigation %}
	{% include "inc-navigation.html" %}
{% endblock %}
{% block body %}
    <div style="margin-top:50px; margin-left:70px ">

			<a class="btn btn-primary" href="/student-list/">Список студентов</a>


			<a class="btn btn-primary" href="/student-create/">Создать студента</a>

	</div>
    <div style="margin-top:50px; margin-left:70px ">
        <h1>Добавление студента на курс</h1>
        <form  method="post">
            <select size="4" name="course_name">
                {% for item in courses %}
                <option value="{{item.name}}">{{item.name}}</option>
                {% endfor %}
            </select>
            <select size="2" name="student_name">
                {% for item in students %}
                <option value="{{item.name}}">{{item.name}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Записать</button>
        </form>
    </div>


{% endblock %}